
.transfer_bkg {
  background-image: url('/assets/pokeball_transfer_bkg.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joseph-toto {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}
