<div class="wrapper1">
  <div>
    <img class="avatar" src="https://vignette.wikia.nocookie.net/pokemonworld/images/6/6b/Sacha.png/revision/latest?cb=20130515162819&path-prefix=fr" alt="avatar">
  </div>

  <div class="userinfo">
    <ul>
      <li>Name : </li>
      <li>Email : </li>
    </ul>
  </div>
</div>

<div>
  <button class="button-add"> ADD POKEMON </button>
</div>

<div class="wrapper2">

  <h2> My Pokemons </h2>
  <div class="poke-cards">
    <% @user.owned_pokemons.each do |pokemon| %>
      <% @pokemon = pokemon %>
      <%= render '/shared/poke-card', object: @pokemon %>
    <% end %>
  </div>


  <h2> My transfers </h2>
  <div class="poke-cards">
    <% @user.transfers.each do |transfer| %>
      <% @pokemon = Pokemon.find(transfer.pokemon_id) %>
      <%= render '/shared/poke-card', object: @pokemon %>
    <% end %>
  </div>
</div>
