  <div class="navbar">
    <button class="log-in"><strong>Log in</strong> </button>
      <%= image_tag "https://vignette.wikia.nocookie.net/pokemonworld/images/6/6b/Sacha.png/revision/latest?cb=20130515162819&path-prefix=fr", class: "avatar-large", alt: "avatar-large" %>
  </div>

<div class="banner">
  <h2 class="titre1"> <strong> Ready for the Pokemon League ? <br> Find the perfect Pokemon </strong> </h2>
  <button class="button1">  <strong> Find a Pokemon </strong> </button>
  <button class="button2">  <strong> Transfert your Pokemon </strong> </button>
</div>


<div class="form">
<form>
  <div class="form-group">
    <input type="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Pokemon Name">
    </div>
    <div class="form-group">
      <input type="type" class="form-control" id="type" placeholder="Pokemon Type">
    </div>
    <div class="form-group">
      <input type="level" class="form-control" id="level" placeholder="Pokemon CP">
    </div>
    <div class="form-group">
      <input type="date" class="form-control" id="date" placeholder="DATE">
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

