<div id="cards">

<figure class="poke-card card--electric">
  <div class="card__image-container">
    <img src="https://cdn.bulbagarden.net/upload/thumb/1/17/025Pikachu-Original.png/600px-025Pikachu-Original.png" alt="Pikachu" class="card__image">
  </div>

  <figcaption class="card__caption">
    <h1 class="card__name">Pikachu</h1>

    <h3 class="card__type">
      electric
    </h3>

    <table class="card__stats">
      <tbody>
        <tr>
          <th>Level</th>
          <td>58</td>
        </tr>
        <tr>
          <th>HP</th>
          <td>159</td>
        </tr>
        <tr>
          <th>Attack</th>
          <td>154</td>
        </tr>
        <tr>
          <th>Defense</th>
          <td>84</td>
        </tr>
      </tbody>
    </table>

    <div class="card__abilities">
      <h4 class="card__ability">
        <span class="card__label">Best ability #1</span>
        Thunder
      </h4>
      <h4 class="card__ability">
        <span class="card__label">Best ability #2</span>
        Thunderbolt
      </h4>
    </div>

      <hr>


      <table class="card__stats">
        <tbody>
          <tr>
            <th>Height</th>
            <td>1'04"</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>6.0 kg</td>
          </tr>
          <tr>
            <th>From</th>
            <td>Kanto</td>
          </tr>
        </tbody>
      </table>


</figure>
</script>
