<div id="cards">

<figure class="card card--electric">
  <div class="card__image-container">
    <img src="https://archives.bulbagarden.net/media/upload/7/75/025Pikachu-Partner.png" alt="Pikachu" class="card__image">
  </div>

  <figcaption class="card__caption">
    <h1 class="card__name">Pikachu</h1>

    <h3 class="card__type">
      electric
    </h3>

    <table class="card__stats">
      <tbody>
        <tr>
          <th>LEVEL</th>
          <td>159</td>
        </tr>
        <tr>
          <th>PROFESSOR</th>
          <td>Chen</td>
      </tbody>
    </table>
  </figcaption>
</figure>
</script>


