<div class="card-trip">
  <img src="https://banner2.kisspng.com/20171217/0d5/pikachu-png-5a366d6947b701.0898947615135163932938.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Pokemon_name</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div>
