.banner {
   height: 100%;
}

.banner {
  background-image: url("https://www.ubackground.com/_ph/4/164037540.jpg");
  background-position: center;
  height: 60vh;
  width: 100vw;
}

.titre1 {
  position: absolute;
  top: 15%;
  left: 16%;
  color: #ff4949;
  font-size: 50px;
  font-weight: bold;
}

.btn1-banner {
  position: absolute;
  top: 50%;
  left: 16%;

}

.btn2-banner {
  position: absolute;
  top: 50%;
  left: 30%;

}

.form-banner {
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-banner-sign {
  background-image: asset-url('pokeball.jpg');
  background-position: center;
  background-size: cover;
}

.form-banner-pokemon {
  background-image: asset-url('poke_bg.png');
  background-position: top 300p;
  background-size: no-repeat;
}






