.button1 {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  color: #ff4949;
  font-weight: bold;
}

.button2 {
  background-color: #ff4949;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
}

.btn1-banner {
  position: absolute;
  top: 50%;
  left: 16%;

}

.btn2-banner {
  position: absolute;
  top: 50%;
  left: 30%;

}
