.button1 {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  color: #ff4949;
  font-weight: bold;
   margin-right: 16px;
}

.button2 {
  background-color: #ff4949;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  margin-right: 16px;
}
