.navbar {
  background: #ff4949;
  height: 60px;
  text-align: right;
}

.log-in {
  position: relative;
  background-color: #eeeeee;
  color: #ff4949;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
}
