.navbar {
  background: #ff4949;
  height: 60px;
  text-align: right;
  display: flex;
  // justify-content: /* aligner verticalement */
  // align-items: /* haut bas*/
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100VW;
}

.login {
  background-color: #eeeeee;
  color: #ff4949;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
