.review-container {
  border-radius: 32px;
  background-color: #EEEEEE;
  margin: 24px auto;
  text-align: left;
  padding: 24px 48px;
  max-width: 900px;
}

.fa-star {
  color: $info;
}

.fa-star-grey {
  color: $gray;
}
