.review-container {
  border-style: solid;
  border-color: #ff4949;
  border-radius: 15%;
  margin-top: -250px;
}

.review-container p {
  color: black;
  padding-right: 200px;
  margin-top: 15px;
  margin-left: 8px;
}

.fas {
  color: yellow;
}
