.form-control {
    border-color: #eeeeee;
    background-color: #eeeeee;
}

.form-text-container {
  text-align: left;
  width: 400px;
}

.form-text-container h1, p {
  color: #eeeeee;
}

.form-input-container {
  text-align: left;
  width: 400px;
  color: #eeeeee;
}
