    <div class="banner">
      <div class="title">
        <h1 class="titre1"> Ready for the Pokemon League ? <br> Find the perfect Pokemon </h1>

        <button class="button1"> Transfer your Pokemon </button>
        <button class="button2"> Find a Pokemon </button>

      </div>
    </div>

    <div class="homesearchbar">
    <%= render '/shared/searchbar' %>
    </div>

<div class="homecontainer">
  <% @pokemons.each do |pokemon| %>
    <div>
      <% @pokemon = pokemon %>
      <%= render'/shared/poke-card', object: @pokemon %>
    </div>
  <% end %>
</div>
