<div class="banner">
  <h2 class="titre1"> Ready for the Pokemon League ? <br> Find the perfect Pokemon </h2>
  <button class="button1 btn1-banner"> Find a Pokemon </button>
  <button class="button2 btn2-banner"> Transfert your Pokemon </button>
</div>



<%= render '/shared/searchbar' %>


