<div class="banner">
  <h2 class="titre1"> Ready for the Pokemon League ? <br> Find the perfect Pokemon </h2>
  <button class="button1"> Find a Pokemon </button>
  <button class="button2"> Transfert your Pokemon </button>

</div>

<%= render '/shared/searchbar' %>


<div class="container">
<form  class="form-group form-inline"><!-- @whitespace
      --><input type="name" class="form-control" id="name" placeholder="Name"><!-- @whitespace
      --><input type="type" class="form-control" id="type" placeholder="Type"><!-- @whitespace
      --><input type="level" class="form-control" id="level" placeholder="CP"><!-- @whitespace
      --><input type="date" class="form-control" id="date" placeholder="DATE">
      <button type="submit" class="button3"> Poke search !</button>
</form>
</div>

<%= current_user.id %>
