<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pokemon new</title>
  </head>
  <body>
    <h1>Pokemons#new</h1>
    <p>Find me in app/views/pokemons/new.html.erb</p>
  </body>
</html>

