
<div class="homesearchbar">
    <%= render '/shared/searchbar' %>
    </div>

<div class="homecontainer">
  <% @pokemons.each do |pokemon| %>
    <div>
      <% @pokemon = pokemon %>
      <%= link_to pokemon_path(pokemon.id) do %>
      <%= render'/shared/poke-card', object: @pokemon %>
      <% end %>
    </div>
  <% end %>
</div>
