<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pokemon Profile</title>
  </head>

  <body>

     <div class="navbar">
        <%= image_tag "https://vignette.wikia.nocookie.net/pokemonworld/images/6/6b/Sacha.png/revision/latest?cb=20130515162819&path-prefix=fr", class: "avatar-large", alt: "avatar-large" %>
    </div>

  <div class="wrapper">
    <div classe="pokeimg">
      <img src="http://cdn2.momes.net/var/momes/storage/images/media/images/edito-17/pikachu/1256480-1-fre-FR/pikachu_imagefull.jpg">
    </div>

    <div class="info">
      <ul>
      <li> Name : </li>
      <li> Level : </li>
      <li> Type : </li>
      </ul>
    </div>

    <div class="order-recap">
      <h2> Battle Date </h2>
      <img class="calendar" src="https://camo.githubusercontent.com/c33bd566e42987638e084a8a7c4bbe3c16e0c23c/68747470733a2f2f636c2e6c792f6c517a422f53637265656e25323053686f74253230323031372d30372d3034253230617425323032322e30342e35392e706e67">
    </div>
    <div class="buttons">
        <button class="button2 "> Contact </button>
        <button class="button2 "> Transfert </button>
    </div>
  </div>

  </body>
</html>
