<div class="wrapper">
  <%= render '/shared/page_pokemon_card' %>
    <div class="border-style">
      <div class="order-recap">
        <h2> Battle Date </h2>
        <%= simple_form_for :search, url: search_pokemons_path, method: "GET", html: { class: "" } do |f| %>
        <%= f.input :date, label: false, input_html: {class: "calendar", id: "", value: "", placeholder: "DATE", type: "date"} %>
        <% end %>
      </div>
     <div class="buttons">
      <button class="btn button2" > Contact <% link_to "", method: :post %> </button>
      <button class="btn button2" id="trasnfer"> Transfer <% link_to pokemon_transfers_path(@pokemon.id), method: :post %> </button>
    </div>
  </div>

  <div class="review-container">
    <p>Review : <% @pokemon.transfers.each {|transfer| transfer.rating}%>
    <i class="fas fa-star"></i></p>
    <p>Comment : <% @pokemon.transfers.each {|transfer| transfer.rating} %></p>
  </div>

</div>

